.Apps {
    width: 100dvw;
    height: 180dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20dvh 0;
}

.Apps h1 {
    font-size: 32px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 2vw;
    position: relative;
}

.Apps h1::after,
.Apps h1::before {
    content: "";
    width: 40vw;
    height: 1px;
    background: #ffffff;
    display: block;
}

.game-cards {
    width: 100dvw;
    height: 100dvh;
    padding: 5dvh 5dvw;
    display: flex;
    flex-wrap: wrap;
    gap: 7dvw;
    align-items: center;
    justify-content: center;
}

.game-card {
    width: 20dvw;
    height: 45dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3dvh;
    border: 2px solid #dd4949;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(255, 255, 255);
}

.game-card img {
    width: 80%;
    height: 60%;
    border-radius: 10px;
}

.game-card p {
    font-size: 25px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.game-card button {
    width: 60%;
    height: 5dvh;
    border-radius: 10px;
    border: none;
    background: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(255, 255, 255);
}

.game-card button a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}


/* Free Fire start */

.FreeFire {
    width: 100dvw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20dvh 0;
}

.FreeFire h1 {
    font-size: 32px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 2vw;
    position: relative;
}

.FreeFire h1::after,
.FreeFire h1::before {
    content: "";
    width: 40vw;
    height: 1px;
    background: #ffffff;
    display: block;
}

/* Free Fire end */




/* Pubg start*/


.Pubg {
    width: 100dvw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20dvh 0;
}

.Pubg h1 {
    font-size: 32px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 2vw;
    position: relative;
}

.Pubg h1::after,
.Pubg h1::before {
    content: "";
    width: 40vw;
    height: 1px;
    background: #ffffff;
    display: block;
}


/* Pubg end */



/* Telegram start */

.Telegram {
    width: 100dvw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20dvh 0;
    gap: 5dvh;
}

.Telegram h1 {
    font-size: 25px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 2vw;
    position: relative;
}

.Telegram h1::after,
.Telegram h1::before {
    content: "";
    width: 40vw;
    height: 1px;
    background: #ffffff;
    display: block;
}

/* Telegram end */


/* Instagram start */

.Instagram {
    width: 100dvw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20dvh 0;
    gap: 5dvh;
}

.Instagram h1 {
    font-size: 25px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 2vw;
    position: relative;
}

.Instagram h1::after,
.Instagram h1::before {
    content: "";
    width: 40vw;
    height: 1px;
    background: #ffffff;
    display: block;
}

/* Instagram end */


/* Dream league soccer start */

.DreamLeagueSoccer {
    width: 100dvw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20dvh 0;
    gap: 5dvh;
}

.DreamLeagueSoccer h1 {
    font-size: 25px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 2vw;
    position: relative;
}

.DreamLeagueSoccer h1::after,
.DreamLeagueSoccer h1::before {
    content: "";
    width: 40vw;
    height: 1px;
    background: #ffffff;
    display: block;
}

/* Dream league soccer end */


/* Tiktok start */

.TikTok {
    width: 100dvw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20dvh 0;
    gap: 5dvh;
}

.TikTok h1 {
    font-size: 25px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 2vw;
    position: relative;
}

.TikTok h1::after,
.TikTok h1::before {
    content: "";
    width: 40vw;
    height: 1px;
    background: #ffffff;
    display: block;
}

/* Tiktok end */

/* Call of Duty start */

.CallOfDuty {
    width: 100dvw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20dvh 0;
    gap: 5dvh;
}

.CallOfDuty h1 {
    font-size: 25px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 2vw;
    position: relative;
}

.CallOfDuty h1::after,
.CallOfDuty h1::before {
    content: "";
    width: 40vw;
    height: 1px;
    background: #ffffff;
    display: block;
}

/* Call of Duty end */


.games-carts {
    width: 100dvw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 7dvw;
    align-items: center;
    justify-content: center;
    padding: 5dvh 5dvw;
}

.game-cart {
    width: 20dvw;
    height: 50dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2dvh;
    border: 2px solid #ff0000;
    box-shadow: 2px 2px 10px rgb(255, 255, 255);
    border-radius: 10px;
    padding: 2dvh 0;
}

.game-cart img {
    width: 70%;
    height: 45%;
    border-radius: 10px;
}

.game-cart p {
    font-size: 18px;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
}

.game-cart span {
    font-size: 20px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.game-cart button {
    width: 60%;
    height: 5dvh;
    border-radius: 10px;
    border: none;
    background: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(255, 255, 255);
}