.Apps {
    width: 100dvw;
    height: 180dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20dvh 0;
}

.Apps h1 {
    font-size: 32px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 2vw;
    position: relative;
}

.Apps h1::after,
.Apps h1::before {
    content: "";
    width: 40vw;
    height: 1px;
    background: #ffffff;
    display: block;
}

.game-cards {
    width: 100dvw;
    height: 100dvh;
    padding: 5dvh 5dvw;
    display: flex;
    flex-wrap: wrap;
    gap: 7dvw;
    align-items: center;
    justify-content: center;
}

.game-card {
    width: 20dvw;
    height: 45dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3dvh;
    border: 2px solid #dd4949;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(255, 255, 255);
}

.game-card img {
    width: 80%;
    height: 60%;
    border-radius: 10px;
}

.game-card p {
    font-size: 25px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.game-card button {
    width: 60%;
    height: 5dvh;
    border-radius: 10px;
    border: none;
    background: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(255, 255, 255);
}

.game-card button a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}




@media (max-width:1380px) {
    .game-card {
        width: 25dvw;
    }
}


@media (max-width:1150px) {
    .game-card {
        width: 25dvw;
        height: 40dvh;
    }

    .game-card img {
        width: 18dvw;
        height: 50%;
    }
}

@media (max-width:980px) {

    .Apps h1 {
        font-size: 22px;
    }

    .game-card {
        width: 30dvw;
        height: 40dvh;
    }

    .game-card img {
        width: 20dvw;
        height: 50%;
    }
}

@media (max-width:820px) {

    .Apps h1 {
        font-size: 24px;
    }

    .game-card {
        width: 38dvw;
        height: 35dvh;
        gap: 1.5dvh;
    }

    .game-card img {
        width: 25dvw;
        height: 50%;
    }

    .Apps h1::after,
    .Apps h1::before {
        content: "";
        width: 30vw;
        height: 1px;
        background: #ffffff;
        display: block;
    }
}

@media (max-width:670px) {

    .Apps h1 {
        font-size: 26px;
    }

    .Apps {
        width: 100dvw;
        height: 300dvh;
    }

    .game-card {
        width: 45dvw;
        height: 40dvh;
    }

    .game-card img {
        width: 30dvw;
        height: 50%;
    }

    .Apps h1::after,
    .Apps h1::before {
        content: "";
        width: 25vw;
        height: 1px;
        background: #ffffff;
        display: block;
    }
}

@media (max-width:570px) {

    .Apps h1 {
        font-size: 26px;
    }

    .Apps {
        width: 100dvw;
        height: 300dvh;
    }

    .game-card {
        width: 55dvw;
        height: 40dvh;
    }

    .game-card img {
        width: 40dvw;
        height: 55%;
    }

    .game-card p {
        font-size: 20px;
    }

    .Apps h1::after,
    .Apps h1::before {
        content: "";
        width: 25vw;
        height: 1px;
        background: #ffffff;
        display: block;
    }
}

@media (max-width:480px) {

    .Apps h1 {
        font-size: 28px;
    }

    .Apps {
        width: 100dvw;
        height: 270dvh;
    }

    .game-card {
        width: 55dvw;
        height: 35dvh;
    }

    .game-card img {
        width: 37dvw;
        height: 50%;
    }

    .game-card p {
        font-size: 20px;
    }

    .Apps h1::after,
    .Apps h1::before {

        content: "";
        width: 25vw;
        height: 1px;
        background: #ffffff;
        display: block;
    }
}

@media (max-width:450px) {

    .Apps {
        width: 100dvw;
        height: 270dvh;
    }

    .game-card {
        width: 65dvw;
        height: 35dvh;
    }

    .game-card img {
        width: 40dvw;
        height: 50%;
    }

    .game-card p {
        font-size: 20px;
    }
}

@media (max-width:390px) {

    .Apps h1 {
        font-size: 28px;
    }



    .Apps h1::after,
    .Apps h1::before {

        content: "";
        width: 10vw;
        height: 1px;
        background: #ffffff;
        display: block;
    }

    .Apps {
        width: 100dvw;
        height: 270dvh;
    }

    .game-card {
        width: 80dvw;
        height: 35dvh;
    }

    .game-card img {
        width: 55dvw;
        height: 55%;
    }

    .game-card p {
        font-size: 20px;
    }
}

/* Free Fire start */

.FreeFire {
    width: 100dvw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20dvh 0;
}

.FreeFire h1 {
    font-size: 28px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 2vw;
    position: relative;
}

.FreeFire h1::after,
.FreeFire h1::before {
    content: "";
    width: 40vw;
    height: 1px;
    background: #ffffff;
    display: block;
}

@media (max-width:750px) {
    .FreeFire h1 {
        font-size: 20px;
    }

    .FreeFire h1::after,
    .FreeFire h1::before {
        content: "";
        width: 30vw;
        height: 1px;
        background: #ffffff;
        display: block;
    }
}

/* Free Fire end */




/* Pubg start*/


.Pubg {
    width: 100dvw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20dvh 0;
}

.Pubg h1 {
    font-size: 32px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 2vw;
    position: relative;
}

.Pubg h1::after,
.Pubg h1::before {
    content: "";
    width: 40vw;
    height: 1px;
    background: #ffffff;
    display: block;
}

@media (max-width:450px) {
    .Pubg h1 {
        font-size: 24px;
    }
}


/* Pubg end */



/* Telegram start */

.Telegram {
    width: 100dvw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20dvh 0;
    gap: 5dvh;
}

.Telegram h1 {
    font-size: 25px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 2vw;
    position: relative;
}

.Telegram h1::after,
.Telegram h1::before {
    content: "";
    width: 40vw;
    height: 1px;
    background: #ffffff;
    display: block;
}

@media (max-width:750px) {
    .Telegram h1 {
        font-size: 20px;
    }

    .Telegram h1::after,
    .Telegram h1::before {
        content: "";
        width: 30vw;
        height: 1px;
        background: #ffffff;
        display: block;
    }
}

/* Telegram end */


/* Instagram start */

.Instagram {
    width: 100dvw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20dvh 0;
    gap: 5dvh;
}

.Instagram h1 {
    font-size: 25px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 2vw;
    position: relative;
}

.Instagram h1::after,
.Instagram h1::before {
    content: "";
    width: 40vw;
    height: 1px;
    background: #ffffff;
    display: block;
}

@media (max-width:750px) {
    .Instagram h1 {
        font-size: 20px;
    }

    .Instagram h1::after,
    .Instagram h1::before {
        content: "";
        width: 30vw;
        height: 1px;
        background: #ffffff;
        display: block;
    }
}

/* Instagram end */


/* Dream league soccer start */

.DreamLeagueSoccer {
    width: 100dvw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20dvh 0;
    gap: 5dvh;
}

.DreamLeagueSoccer h1 {
    font-size: 25px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 2vw;
    position: relative;
}

.DreamLeagueSoccer h1::after,
.DreamLeagueSoccer h1::before {
    content: "";
    width: 40vw;
    height: 1px;
    background: #ffffff;
    display: block;
}

@media (max-width:750px) {
    .DreamLeagueSoccer h1 {
        font-size: 20px;
    }

    .DreamLeagueSoccer h1::after,
    .DreamLeagueSoccer h1::before {
        content: "";
        width: 30vw;
        height: 1px;
        background: #ffffff;
        display: block;
    }
}

/* Dream league soccer end */


/* Tiktok start */

.TikTok {
    width: 100dvw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20dvh 0;
    gap: 5dvh;
}

.TikTok h1 {
    font-size: 25px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 2vw;
    position: relative;
}

.TikTok h1::after,
.TikTok h1::before {
    content: "";
    width: 40vw;
    height: 1px;
    background: #ffffff;
    display: block;
}

@media (max-width:750px) {
    .TikTok h1 {
        font-size: 20px;
    }

    .TikTok h1::after,
    .TikTok h1::before {
        content: "";
        width: 30vw;
        height: 1px;
        background: #ffffff;
        display: block;
    }
}

/* Tiktok end */

.games-carts {
    width: 100dvw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 7dvw;
    align-items: center;
    justify-content: center;
    padding: 5dvh 5dvw;
}

.game-cart {
    width: 20dvw;
    height: 50dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2dvh;
    border: 2px solid #ff0000;
    box-shadow: 2px 2px 10px rgb(255, 255, 255);
    border-radius: 10px;
    padding: 2dvh 0;
}

.game-cart img {
    width: 70%;
    height: 45%;
    border-radius: 10px;
}

.game-cart p {
    font-size: 18px;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
}

.game-cart span {
    font-size: 20px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.game-cart button {
    width: 60%;
    height: 5dvh;
    border-radius: 10px;
    border: none;
    background: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(255, 255, 255);
}


@media (max-width:1420px) {
    .game-cart {
        width: 25dvw;
    }
}

@media (max-width:1200px) {
    .game-cart {
        width: 30dvw;
    }
}

@media (max-width:1000px) {
    .game-cart {
        width: 35dvw;
        height: 55dvh;
    }
}

@media (max-width:860px) {
    .game-cart {
        width: 40dvw;
        height: 55dvh;
    }

    .game-cart span {
        font-size: 18px;
    }
}

@media (max-width:660px) {
    .game-cart {
        width: 50dvw;
        height: 55dvh;
    }

    .game-cart span {
        font-size: 18px;
    }
}

@media (max-width:600px) {
    .game-cart {
        width: 57dvw;
        height: 50dvh;
    }

    .game-cart span {
        font-size: 18px;
    }
}

@media (max-width:530px) {
    .game-cart {
        width: 65dvw;
        height: 50dvh;
    }

    .game-cart span {
        font-size: 16px;
    }

    .game-cart img {
        height: 50%;
    }
}

@media (max-width:530px) {
    .game-cart {
        width: 65dvw;
        height: 55dvh;
    }

    .game-cart span {
        font-size: 16px;
    }

    .game-cart img {
        height: 50%;
    }
}

@media (max-width:450px) {

    .game-cart {
        width: 70dvw !important;
        height: 40dvh !important;
        gap: 2dvh;
        padding: 1dvh 1dvw;
    }

    .game-cart p {
        font-size: 14px;
    }

    .game-cart img {
        height: 40% !important;
    }
}

@media (max-width:450px) {
    .game-cart {
        width: 65dvw;
        height: 35dvh;
        gap: 1.5dvh;
    }

    .game-cart span {
        font-size: 16px;
    }

    .game-cart img {
        height: 45%;
    }
}



/* Form */

.form {
    width: 30dvw;
    height: 70dvh;
    border: 2px solid #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4dvh;
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
}

.form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.form h2 {
    font-size: 32px;
    color: #ffffff;
    font-weight: 300;
}

.form input {
    width: 15dvw;
    height: 4dvh;
    border: none;
    display: flex;
    background: none;
    color: #ffffff;
    font-size: 20px;
}

.form p {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}

.form span {
    display: flex;
    flex-direction: column;
    gap: 2dvh;
    display: flex;
    align-items: center;
    font-size: 22px;
    color: #ffffff;
}

.form button {
    width: 15dvw;
    height: 4dvh;
    border-radius: 10px;
    border: none;
    background: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(255, 255, 255);
}

.phone {
    width: 15dvw;
    height: 4dvh;
    border-radius: 10px;
    border: none;
    background: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(255, 255, 255);
    padding-left: 2dvw;
}


@media (max-width:1500px) {

    .form {
        width: 35dvw;
        height: 80dvh;
    }

    .form p {
        font-size: 18px;
    }
}

@media (max-width:1420px) {

    .form {
        width: 37dvw;
        height: 80dvh;
    }

    .form p {
        font-size: 16px;
    }

    .form input {
        font-size: 18px;
    }
}

@media (max-width:1280px) {

    .form {
        width: 40dvw;
        height: 80dvh;
    }

    .form p {
        font-size: 16px;
    }

    .form input {
        font-size: 16px;
    }

    .form span {
        font-size: 20px;
    }

    .form button {
        width: 20dvw;
        height: 6dvh;
        font-size: 20px;
    }
}

@media (max-width:1100px) {

    .form {
        width: 50dvw;
        height: 80dvh;
    }

    .form p {
        font-size: 16px;
    }

    .form input {
        font-size: 16px;
    }

    .form span {
        font-size: 20px;
    }

    .form button {
        width: 20dvw;
        height: 6dvh;
        font-size: 20px;
    }
}

@media (max-width:880px) {

    .form {
        width: 60dvw;
        height: 80dvh;
    }

    .form p {
        font-size: 16px;
    }

    .form input {
        font-size: 16px;
    }

    .form span {
        font-size: 20px;
    }

    .form button {
        width: 20dvw;
        height: 6dvh;
        font-size: 20px;
    }
}

@media (max-width:730px) {

    .form {
        width: 70dvw;
        height: 80dvh;
    }

    .form p {
        font-size: 16px;
    }

    .form input {
        font-size: 16px;
    }

    .form span {
        font-size: 20px;
    }

    .form button {
        width: 30dvw;
        height: 6dvh;
        font-size: 20px;
    }
}

@media (max-width:630px) {

    .form {
        width: 80dvw;
        height: 80dvh;
    }

    .form p {
        font-size: 14px;
    }

    .form input {
        width: 40dvw;
        font-size: 16px;
    }

    .form span {
        font-size: 20px;
    }

    .form button {
        width: 30dvw;
        height: 6dvh;
        font-size: 18px;
    }
}

@media (max-width:490px) {

    .form {
        width: 90dvw;
        height: 66dvh;
    }

    .form p {
        font-size: 14px;
    }

    .form input {
        width: 50dvw;
        font-size: 14px;
    }

    .form span {
        font-size: 20px;
    }

    .form button {
        width: 50dvw;
        height: 7dvh;
        font-size: 18px;
    }

    .form h2 {
        font-size: 30px;
    }
}