.News {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 4dvh;
    padding: 10dvh 5dvw;
    align-items: center;
    justify-content: center;
}

.News h1 {
    font-size: 35px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}

.News b {
    font-size: 32px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}


.News p {
    color: #ffffff;
    line-height: 30px;
}




@media (max-width:850px) {
    .News h1 {
        font-size: 25px;
    }
}

@media (max-width:650px) {
    .News h1 {
        font-size: 20px;
    }
}

@media (max-width:450px) {
    .News h1 {
        font-size: 16px;
    }
}