.Footer {
    width: 100dvw;
    height: 40dvh;
    background-color: rgb(10, 44, 73);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5dvw;
}

.Footer img {
    width: 15dvw;
    border-radius: 10px;
}

.games {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2dvh;
    align-items: center;
    justify-content: center;
    background: none;
}

.apps {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2dvh;
    align-items: center;
    justify-content: center;
    background: none;
}

.games h1 {
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
    margin-bottom: 2dvh;
    background: none;
}

.apps h1 {
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
    margin-bottom: 2dvh;
    background: none;
}

.games b {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    background: none;
}

.apps b {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    background: none;
}

.contact-apps {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3dvw;
    background: none;
}

.contact-apps button {
    width: 3dvw;
    height: 5dvh;
    background: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.contact-apps button a {
    text-decoration: none;
    background: none;
}

.contact-apps button img {
    width: 3dvw;
    height: 5dvh;
    border-radius: 10px;
    background: none;
}


@media (max-width: 1050px) {
    .games h1 {
        font-size: 22px
    }

    .games b {
        font-size: 17px;
    }

    .apps h1 {
        font-size: 22px
    }

    .apps b {
        font-size: 17px;
    }

    .contact-apps button img {
        width: 5dvw;
        height: 5dvh;
    }
}

@media (max-width: 880px) {

    .Footer {
        width: 100dvw;
        height: 30dvh;
    }

    .games h1 {
        font-size: 18px
    }

    .games b {
        font-size: 14px;
    }

    .apps h1 {
        font-size: 18px
    }

    .apps b {
        font-size: 14px;
    }

    .contact-apps button img {
        width: 4dvw;
        height: 4dvh;
    }
}

@media (max-width: 650px) {

    .Footer {
        width: 100dvw;
        height: 20dvh;
    }

    .games h1 {
        font-size: 16px
    }

    .games b {
        font-size: 12px;
    }

    .apps h1 {
        font-size: 16px
    }

    .apps b {
        font-size: 12px;
    }

    .games {
        gap: 1dvh;
    }

    .apps {
        gap: 1dvh;
    }



    .contact-apps {
        display: none;
    }
}

@media (max-width: 450px) {

    .Footer {
        width: 100dvw;
        height: 15dvh;
    }

    .games h1 {
        font-size: 14px
    }

    .games b {
        font-size: 10px;
    }

    .apps h1 {
        font-size: 14px
    }

    .apps b {
        font-size: 10px;
    }

    .games {
        gap: 0.5dvh;
    }

    .apps {
        gap: 0.5dvh;
    }

.Footer img{
    width: 25dvw;
}

    .contact-apps {
        display: none;
    }
}